node-linker=hoisted
shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
dedupe-peer-dependents=true
prefer-workspace-packages=true
link-workspace-packages=deep
save-workspace-protocol=rolling
engine-strict=true
